[include]
  path = .gitconfig.local
[core]
  editor = vim
  pager = less --raw
	excludesfile = ~/.gitignore_global
[color]
  ui = true
[help]
  autocorrect = 1
[alias]
  s   = status -sb
  st  = status
  ps  = push
  pso = push origin
  psa = push --all
  pl  = pull
  pla = pull --all
  br  = branch
  bra = branch -a
  brc = checkout -b
  cho = checkout
  a   = add
  ua  = reset
  cm  = commit -m
  com = commit
  cam = commit -a --amend
  l   = log
  lp  = log -p
  ld  = log --graph --decorate --oneline
  lds = log --graph --decorate --oneline --stat
  ldp = log --graph --decorate --oneline --stat -p
  df  = diff
  dfm = diff master
  dfw = diff --color-words
  dfc = diff --cached
  dfs = diff --staged
  gr  = grep -np
  submo-upgrade = submodule foreach 'git pull origin master'
[push]
	default = matching
[ghq]
  root = ~/src
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
