# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
*.sw[a-z]
wget-log*
/recentf
kkcrc

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

/backups/
abbrev_defs
ac-comphist.dat

/session*

/el-get/

/server/

/lisp/env.el

.mc-lists.el
/image-dired/

ido.last
